@model Libro.Business.Libra.DTOs.IdentityDTOs.UpdateUserDTO
@{
    ViewBag.Title = "Edit user details";
}
<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10 flex flex-col">
    <nav class="flex mb-3 ml-1" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <a href="/dashboard" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                    <svg class="w-3 h-3 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                    </svg>
                    Dashboard
                </a>
            </li>
            <li>
                <div class="flex items-center">
                    <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                    </svg>
                    <a href="/administration/users" class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Users</a>
                </div>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                    <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                    </svg>
                    <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">Edit</span>
                </div>
            </li>
        </ol>
    </nav>
    <div class="p-4 mt-5 lg:mt-0 rounded shadow bg-white lg:w-3/5 lg:ml-1 lg:ml-auto lg:mr-auto">
        <h2 class="text-sm font-extrabold dark:text-white mb-2">
            General information
        </h2>

        @using (Html.BeginForm(FormMethod.Post, new { @class = "space-y-4 md:space-y-6", id = "updateUserForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div>
                    @Html.LabelFor(m => m.Firstname, "First name", new {@class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"})
                    @Html.TextBoxFor(m => m.Firstname, new {@class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", @placeholder="John", autocomplete="off" })
                    @Html.ValidationMessageFor(m => m.Firstname, null, new {@class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-3"})
                </div>
                <div>
                    @Html.LabelFor(m => m.Lastname, "Last name", new {@class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"})
                    @Html.TextBoxFor(m => m.Lastname, new {@class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", @placeholder="Doe", autocomplete="off" })
                    @Html.ValidationMessageFor(m => m.Lastname, null, new {@class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-3"})
                </div>
            </div>
            <div class="mb-6">
                @Html.LabelFor(m => m.Username, new {@class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"})
                @Html.TextBoxFor(m => m.Username, new {@class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", @placeholder="JohnDoe001", autocomplete="off" })
                @Html.ValidationMessageFor(m => m.Username, null, new {@class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-3"})
            </div>
            <div class="mb-6">
                @Html.LabelFor(m => m.Email, new {@class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"})
                @Html.TextBoxFor(m => m.Email, new {@class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", @placeholder="john.doe@gmail.com", autocomplete="off" })
                @Html.ValidationMessageFor(m => m.Email, null, new {@class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-3"})
            </div>

            <div class="mb-6">
                @Html.LabelFor(m => m.Telephone, "Number phone", new {@class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"})
                @Html.TextBoxFor(m => m.Telephone, new {@class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", @placeholder="78-099-291", autocomplete="off" })
                @Html.ValidationMessageFor(m => m.Telephone, null, new {@class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1"})

            </div>
            <div class="mb-6">
                @Html.LabelFor(m => m.Role.Id, "Role", new { @class = "block mb-2 text-sm font-medium text-gray-900 dark:text-white" })
                <select id="updateRole" name="Role.Id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>
            </div>

            <h2 class="text-sm font-extrabold dark:text-white mb-1">Change password</h2>

            <div class="mb-6">
                @Html.LabelFor(m => m.Password, new {@class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"})
                @Html.PasswordFor(m => m.Password, new {@class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", @placeholder="•••••••••" })
                @Html.ValidationMessageFor(m => m.Password, null, new {@class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-3"})
            </div>
            <div class="mb-6">
                @Html.LabelFor(m => m.ConfirmPassword, new {@class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"})
                @Html.PasswordFor(m => m.ConfirmPassword, new {@class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", @placeholder="•••••••••" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new {@class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-3"})
            </div>

            <h2 class="text-sm font-extrabold dark:text-white mb-1">Change account status</h2>

            <label class="relative inline-flex items-center cursor-pointer">
                @Html.CheckBoxFor(m => m.IsArchieved, new {@class="sr-only peer", id="checkStatus" })
                <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                <span id="textStatus" class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300"></span>
            </label>

            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button type="submit" id="updateUserSubmit" class="text-white bg-blue-700 ml-[-1.4rem] hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save</button>
            </div>
        }
    </div>
</div>


@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    <script src="~/lib/jquery-datatable/DataTables-1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/jquery-datatable/Responsive-2.5.0/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>

    <script src="~/js/update-user.js"></script>
}