@model Libro.Business.Libra.DTOs.IssueDTOs.CreateIssueDTO
@{
    ViewBag.Title = "Issues";
}

<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
    <div class="flex justify-between">
        <h4 class="text-2xl text-gray-500 font-extrabold dark:text-white">
            @ViewBag.Title
        </h4>
        <button data-modal-target="staticModal" data-modal-toggle="staticModal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
           + Add issue
        </button>
    </div>
    <div id="staticModal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full mt-10">
        <div class="relative w-full max-w-2xl max-h-full">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <div class="space-y-4 md:space-y-6 sm:p-8">
                    <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                            Add new user
                        </h3>
                        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="staticModal">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    @using (Html.BeginForm("Create", "Issue", FormMethod.Post, new { @class = "space-y-4 md:space-y-6", @id = "issueForm" }))
                    {
                        <div class="grid gap-6 mb-6 md:grid-cols-2">
                            <div>
                                @Html.LabelFor(m => m.IssueTypes.Id, "Issue Type", new { @class = "block mb-2 text-sm font-medium text-gray-900 dark:text-white" })
                                <select id="IdType" name="IdType" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>
                            </div>
                            <div>
                                @Html.LabelFor(m => m.IdSubType, "Subclass", new { @class = "block mb-2 text-sm font-medium text-gray-900 dark:text-white" })
                                <select id="IdSubType" name="IdSubType" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>
                            </div>
                        </div>
                        <div class="mb-6">
                            @Html.LabelFor(m => m.Pos.Id, "POS", new { @class = "block mb-2 text-sm font-medium text-gray-900 dark:text-white" })
                            <select id="IdPos" name="IdPos" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>
                        </div>
                        <div class="mb-6">
                            @Html.LabelFor(m => m.Description, "Description", new {@class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"})
                            @Html.TextBoxFor(m => m.Description, new {@class="bg-gray-50 h-[15px] border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", @placeholder="78-099-291"})
                            @Html.ValidationMessageFor(m => m.Description)
                        </div>
                        <div class="grid gap-6 mb-6 md:grid-cols-2">
                            <div>
                                @Html.LabelFor(m => m.Priority, "Priority", new { @class = "block mb-2 text-sm font-medium text-gray-900 dark:text-white" })
                                <select id="Priority" name="Priority" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>
                            </div>
                            <div>
                                @Html.LabelFor(m => m.Status.Id, "Status", new { @class = "block mb-2 text-sm font-medium text-gray-900 dark:text-white" })
                                <select id="IdStatus" name="IdStatus" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option>Normal</option>
                                    <option>Medium</option>
                                    <option>Urgent</option>
                                </select>       
                            </div>
                        </div>
                        <div class="mb-6">
                            @Html.LabelFor(m => m.UserAsigned.Id, "Assigned To", new { @class = "block mb-2 text-sm font-medium text-gray-900 dark:text-white" })
                            <select id="IdAssigned" name="IdAssigned" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></select>
                        </div>
                        <div class="mb-6">
                            @Html.LabelFor(m => m.Memo, new {@class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"})
                            @Html.TextBoxFor(m => m.Memo, new {@class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", @placeholder="john.doe@gmail.com"})
                            @Html.ValidationMessageFor(m => m.Memo)
                        </div>
                        <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create</button>
                            <button data-modal-hide="staticModal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Cancel</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @*jQuery DATA TABLE USERS*@

    <div class="relative overflow-x-auto rounded-lg shadow mt-6 hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <div class="p-4 mt-5 lg:mt-0 rounded shadow bg-white">
            <table id="usersTable" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
                <thead>
                    <tr class="bg-blue-600 bg-opacity-100 text-white">
                        <th data-priority="0">Issue Type</th>
                        <th data-priority="1">Subclass</th>
                        <th data-priority="2">POS</th>
                        <th data-priority="3">Description</th>
                        <th data-priority="4">Priority</th>
                        <th data-priority="5">Status</th>
                        <th data-priority="6">Assigned To</th>
                        <th data-priority="6"></th>
                    </tr>
                </thead>
                <tbody> </tbody>
            </table>
        </div>
    </div>
</div>
